TTS @ git+https://github.com/coqui-ai/TTS
uvicorn[standard]==0.23.2
fastapi>=0.100.0,<0.105.0
deepspeed==0.10.3
pydantic>=2.0.0,<3.0.0
python-multipart==0.0.6
typing-extensions>=4.8.0
numpy>=1.25.2,<2.0.0
cutlet
mecab-python3==1.0.6
unidic-lite==1.0.8
unidic==1.1.0
